{% extends 'base.html' %}
{% load sidebar_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <section class="single-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-top">
                        <div class="col-md-8">
                            <div class="blog-area">
                                <div class="blog-area-part">
                                    <h2>{{ post.title }}</h2>
                                    <div class="single-content">
                                        <div>
                                            <span>Category: <a
                                                    href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></span>
                                            <br>
                                            {% if post.tage.exists %}
                                                <span>
                                                    Tags:
                                                    {% for tag in post.tage.all %}
                                                        <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                                                    {% endfor %}
                                                </span>
                                            {% endif %}
                                            <br>
                                            <span>Views: {{ post.views }}</span>
                                        </div>
                                        {{ post.content|safe }}
                                    </div>
                                </div>
{#                                <form action="#" method="get">#}
{#                                    <div class="name">#}
{#                                        <input type="text" name="" id="" placeholder="Name" class="name">#}
{#                                    </div>#}
{#                                    <div class="email">#}
{#                                        <input type="email" name="" id="" placeholder="Email" class="email">#}
{#                                    </div>#}
{#                                    <div class="comment">#}
{#                                        <input type="text" name="" id="" placeholder="Comment" class="comment">#}
{#                                    </div>#}
{#                                    <div class="post">#}
{#                                        <input type="submit" value="Post">#}
{#                                    </div>#}
{#                                </form>#}
                            </div>
                        </div>
                        <div class="col-md-4">
                            {% show_search_ponel %}

                            {% show_popular_posts %}

                            {% show_tags_list %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}